# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Coverage
coverage

# Transpiled files
build/
dist/


# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

#SERVERLESS STUFF
admin.env
.env
_meta
.serverless
.vscode/

#PREVIOUS PLATFORM 
#accounts/
#buildOut/
#campaignTemplates/
#digitalMarketing/
#properties/
#security/
